body {
    background-color: #1a1a1a;
    color: orange;
    margin: 50px;
}

li {
    padding: 14px 16px;
    display: inline;
}

input{
    background-color: #5a5a5a;
    border-color: orange;
    color: orange;
}

select{
    background-color: #1a1a1a;
    border-color: orange;
    scrollbar-highlight-color: #2a2a2a;
    border-radius: 1px;
    color: orange;
}

section{
    background-color: #3a3a3a;
    border-color: orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


#navigationBar {
    padding: 15px;
    margin: 15px;
    background-color: orange;
}

#sidebar {
    float: left;
    width: 250px;
    min-height: 600px;
    padding: 15px;
    margin: 0px 15px 15px 15px;
    background-color: #2a2a2a;
}

#content {
    padding: 15px;
    min-height: 600px;
    margin: 15px 15px 15px 305px;
    background-color: #2a2a2a;
}

#footer {
    padding: 15px;
    margin: 15px;
    background-color: #2a2a2a;
}

#sampleImages {
    float: right;
}

.imageThumbnail:hover{
    border-color: orange;
    width: 200%;
}

.imageThumbnail{
    border-color: black;
    width: 100%;
}

.ANNLayer{
    margin: 10px;
    padding: 10px;
    background-color: #3a3a3a;
}

#charts {
    float: left;
}

#sampleImages {
    float: right;
}

.axis path,
.axis line {
    fill: none;
    stroke: orange;
    shape-rendering: crispEdges;}
.axis text {
    fill: orange;

}

#imageRibbon{
    white-space: nowrap;
}


.leftColumn{
    float:left;

}

.rightColumn{
    float: right;

}


/*
.imageRibbonThumbnail{
    width: 50px;
    margin-left: -30px;
}

.imageRibbonThumbnail:hover{
    border: dashed red;
    width: 150px;
}*/
