
div.scrollPane {
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
}

table.imageGrid {
    margin: 0;
    padding: 0;
}

table.imageGrid td, tr {
    margin: 0;
    padding: 0;
    table-layout: fixed;

}

table.imageGrid td.inputImageColumn {
    /*border-left: 2px solid orange;*/
    /*margin-left: 20px;*/


}

table.imageGrid td.outputImageColumn {
    /*border-right: 2px solid orange;*/
    padding-right: 40px;

}

table.imageGrid td.latentImageColumn {

}

.imageGrid .header {

    font-size: 12px;
    /*transform: rotate(45.0deg);*/
    /*-moz-transform: rotate(-90.0deg); !* FF3.5+ *!*/
    /*-o-transform: rotate(-90.0deg); !* Opera 10.5 *!*/
    /*-webkit-transform: rotate(-90.0deg); !* Saf3.1+, Chrome *!*/
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); !* IE6,IE7 *!*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; !* IE8 *!*/
    /*margin-left: -10em;*/
    /*margin-right: -10em;*/
}
