table.parameterTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

table.parameterTable td, th {
    border: 2px solid #4a4a4a;
    vertical-align: top;
    padding: 15px;
}

table.parameterTable tr:nth-child(even) {
    background-color: #3a3a3a;
}

table.parameterTable tr.center {
    text-align: center;
}

div.SummaryTile {
    margin: 15px;
    padding: 15px;
    background-color: #4a4a4a;
    width: auto;

    /*border: 5px solid lime;*/
}

td.summaryColumn {
    margin: 10px;
    padding: 10px;
    background-color: #4a4a4a;

    /*border: 5px solid lime;*/
}

p.scrollPane {
    margin: 0;
    padding: 0;
    max-width: 400px;
    max-height: 350px;
}

table.imageGrid {
    margin: 0;
    padding: 0;
}

table.imageGrid td, tr {
    margin: 0;
    padding: 0;

}

div.trained {
    border: 1px solid lime;
}

div.aborted {
    border: 1px solid darkred;
}