table.parameterTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

table.parameterTable td, th {
    border: 2px solid #4a4a4a;
    vertical-align: top;
    padding: 15px;
}

table.parameterTable tr:nth-child(even) {
    background-color: #3a3a3a;
}

table.parameterTable tr.center {
    text-align: center;
}

div.SummaryTile {
    margin: 15px;
    padding: 15px;
    background-color: #4a4a4a;
    width: auto;

    /*border: 5px solid lime;*/
}

td.summaryColumn {
    margin: 10px;
    padding: 10px;
    background-color: #4a4a4a;
    width: 300px;
    height: 300px;
    vertical-align: top;

    /*border: 5px solid lime;*/
}

div.scrollPane {
    margin: 0;
    padding: 0;
    height: 280px;
}

table.imageGrid {
    margin: 0;
    padding: 0;
}

table.imageGrid td, tr {
    margin: 0;
    padding: 0;

}

div.trained {
    border: 1px solid lime;
}

div.aborted {
    border: 1px solid darkred;
}

.imageGrid .header {

    font-size: 8px;
    /*transform: rotate(45.0deg);*/
    /*-moz-transform: rotate(-90.0deg); !* FF3.5+ *!*/
    /*-o-transform: rotate(-90.0deg); !* Opera 10.5 *!*/
    /*-webkit-transform: rotate(-90.0deg); !* Saf3.1+, Chrome *!*/
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); !* IE6,IE7 *!*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; !* IE8 *!*/
    /*margin-left: -10em;*/
    /*margin-right: -10em;*/
}