table.parameterTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 2px solid #4a4a4a;
    vertical-align: top;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #3a3a3a;
}

tr.center {
    text-align: center;
}

div.SummaryTile {
    margin: 15px;
    padding: 15px;
    background-color: #4a4a4a;
    width: 80%;

    /*border: 5px solid lime;*/
}

div.trained {
    border: 1px solid lime;
}